
.picture{
    display: flex;
    justify-content: center;
        

}
.botBar{
    /* background-color:black; */
    box-shadow: 10px 0px 100px 10px #000;
}
.bot{
    color:white;
}
.topbar{
   /*rgba(255,124,216,1); */
/* background: -moz-linear-gradient(top, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,124,216,1)), color-stop(0%, rgba(251,166,225,1)), color-stop(49%, rgba(253,137,215,1)), color-stop(50%, rgba(251,166,225,1)), color-stop(99%, rgba(255,255,255,1)), color-stop(100%, rgba(251,166,225,1)));
background: -webkit-linear-gradient(top, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
background: -o-linear-gradient(top, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
background: -ms-linear-gradient(top, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
background: linear-gradient(to bottom, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fba6e1', GradientType=0 ); */

}
/* .inbetween{
    background: rgba(255,124,216,1);
background: -moz-linear-gradient(top, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,124,216,1)), color-stop(0%, rgba(251,166,225,1)), color-stop(49%, rgba(253,137,215,1)), color-stop(50%, rgba(251,166,225,1)), color-stop(99%, rgba(255,255,255,1)), color-stop(100%, rgba(251,166,225,1)));
background: -webkit-linear-gradient(top, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
background: -o-linear-gradient(top, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
background: -ms-linear-gradient(top, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
background: linear-gradient(to bottom, rgba(255,124,216,1) 0%, rgba(251,166,225,1) 0%, rgba(253,137,215,1) 49%, rgba(251,166,225,1) 50%, rgba(255,255,255,1) 99%, rgba(251,166,225,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fba6e1', GradientType=0 );
} */
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding:10px;
  }
  #borderDemo {
    border: 11px outset #1C6EA4;
    border-radius: 80px 80px 0px 0px;
 
    }
    .options{
            border-bottom: 3px solid #BEBEBE;            
            /* background-color: white; */
            }
    .pro{
        display: flex;
        justify-content: center;
    }
  .pro-font{
        font-family: 'Cinzel', serif;
  }
  section.dark{
    background:#262626;
    color:#fff;
   }
 .bot-white{
color:white;
 }

 
   ul{
    position:absolute;
    top:20px;
    right:20px;
    margin:0;
    padding:0;
    width:100px;
    height:30px;
    z-index:1;
    border:1px solid #000;
    border-radius:4px;
    cursor:pointer;
    overflow:hidden;
   }
   
   ul.active{
    border-color:#fff;
   }
   
   ul li{
    list-style:none;
    width:100%;
    height:60px;
    text-align:center;
    text-transform:uppercase;
    transition:0.5s;
   }
   
   ul.active li{
    transform:translateY(-30px);
   }
   
   ul li span{
    display:block;
    width:100%;
    height:30px;
    line-height:30px;
    color:#262626;
    background:#fff;
   }
   
   ul li span:nth-child(1){
    background:#262626;
    color:#fff;
   }